$a: 150px;

$b: 500px;

* {
    margin: 0px;
    padding: 0px;
}

// .div1 {
//     width: $a;
//     height: $a;
//     border: 10px solid #a51919;
//     transition: all 0.5s;

//     span {
//         color: chocolate;
//     }

//     p {
//         color: chartreuse;
//     }
//     //父选择器
//     &:hover {
//         background-color: saddlebrown;
//     }

// }
// @mixin set-block($w: 50px, $h: 50px) {
//     width: $w;
//     height: $h;
//     background-color: red;
// }

// .div1 {
//     @include set-block(50px, 100px)
// }


// .div1 {
//     width: 50px;
//     height: 50px;
//     background-color: red;
// }

// .div2 {
//     @extend .div1;
//     border: 1px solid #ccc;
// }

// $arr: red, blue, green, yellow;

// $name: div;

// #{$name}-1 {
//     color: red;
// }



@mixin set-block($w: 50px, $h: 50px) {
    @if($w>200px) {
        $w: 200px;
    }

    @else if($w<50px) {
        $w: 50px;
    }

    width: $w;
    height: $h;
    background-color: red;
}

.div1 {
    @include set-block(5px, 500px)
}


@each $color in red, green, blue, yellow {
    .div-#{$color} {
        color: red;
    } 
}


